

.wrapper {
    font-family: 'Roboto', sans-serif;
    background-color: #343434;
    color: white;
}

.content, aside {
    background-color: white;
    color: #343434;
}

.main-head {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: #343434;
}

.main-nav, .main-icons{
    color: white;
    background-color: #343434;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-item-active {
    background-color: #121212;
}
